force-app/main/default/flows/Lead_Contact_Form_Submission_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Form_Submission_Email_To_User</name>
        <label>Form Submission Email To User</label>
        <locationX>1203</locationX>
        <locationY>535</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textTemplateEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varTextCollectionEmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>textTemplateEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Contact_Parameters_To_Text_Variables</name>
        <label>Assign Contact Parameters To Text Variables</label>
        <locationX>635</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>varTextOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordContactSelected.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordContactSelected.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordContactSelected.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordContactSelected.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordContactSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordAccountSelected.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_Variable_Related_To_User_Or_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Parameters_To_Text_Variables</name>
        <label>Assign Lead Parameters To Text Variables</label>
        <locationX>401</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>varTextOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordLeadSelected.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordLeadSelected.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordLeadSelected.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordLeadSelected.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProspectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordLeadSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordLeadSelected.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_Variable_Related_To_User_Or_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Responsible_User_For_Inbounds_To_Text_Variables</name>
        <label>Assign Responsible User For Inbounds To Text Variables</label>
        <locationX>982</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>varTextOwnerFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sergey</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCollectionEmailRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>sergey.zenko@mail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCollectionEmailRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>zergey.senko@mail.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Submission_Email_To_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Owner_Details_To_Text_Variables</name>
        <label>Assign User Owner Details To Text Variables</label>
        <locationX>981</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>varTextOwnerFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordUserSelected.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCollectionEmailRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordUserSelected.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCollectionEmailRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>sergey.zenko@mail.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Submission_Email_To_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Owner_Variable_Related_To_User_Or_Queue</name>
        <label>Is Owner Variable Related To User Or Queue?</label>
        <locationX>628</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>Assign_Responsible_User_For_Inbounds_To_Text_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTextOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Details_From_Owner_Variable</targetReference>
            </connector>
            <label>Owner Is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Input_Object</name>
        <label>What Is The Input Object?</label>
        <locationX>168</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record_From_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input_Object_Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTextLeadInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_Five_Minutes_Before_The_Assignment_Takes_Place</targetReference>
            </connector>
            <label>Input Object Is Lead</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaDateTimeFiveMinutes</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+0.003</expression>
    </formulas>
    <interviewLabel>Lead / Contact: Form Submission Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead / Contact: Form Submission Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record_From_Selected_Contact</name>
        <label>Get Account Record From Selected Contact</label>
        <locationX>635</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Parameters_To_Text_Variables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordContactSelected.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varRecordAccountSelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_From_Trigger</name>
        <label>Get Contact Record From Trigger</label>
        <locationX>407</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_From_Selected_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTextContactInput</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varRecordContactSelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record_From_Trigger</name>
        <label>Get Lead Record From Trigger</label>
        <locationX>175</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Parameters_To_Text_Variables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTextLeadInput</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varRecordLeadSelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details_From_Owner_Variable</name>
        <label>Get User Details From Owner Variable</label>
        <locationX>855</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Owner_Details_To_Text_Variables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTextOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varRecordUserSelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_Is_The_Input_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplateEmailBody</name>
        <text>Hi {!varTextOwnerFirstName}!

The following {!varTextObjectType} has submitted the Form:
- Prospect Name: {!varTextProspectName}
- Company: {!varTextCompanyName}
- Email: {!varTextProspectEmail}
- Description: {!varTextProspectDescription}
- SFDC Record Link: https://ap6.lightning.force.com/{!varTextProspectId}

Please follow-up as soon as possible.

Thanks!</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateEmailSubject</name>
        <text>[ATTENTION] {!varTextProspectName} from {!varTextCompanyName} has submitted the form!</text>
    </textTemplates>
    <variables>
        <name>varRecordAccountSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varRecordContactSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varRecordLeadSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varRecordUserSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTextCollectionEmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextContactInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextLeadInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextOwnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextProspectDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextProspectEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextProspectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextProspectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Five_Minutes_Before_The_Assignment_Takes_Place</name>
        <label>Wait Five Minutes Before The Assignment Takes Place</label>
        <locationX>176</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_For_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Lead_Record_From_Trigger</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formulaDateTimeFiveMinutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause For Assignment</label>
        </waitEvents>
    </waits>
</Flow>
