force-app/main/default/flows/OppContactRole_AfterSave_Update_Opportunity_Custom_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>In case the current item from the Loop does NOT equal to the value that is stored on the Opportunity. Or the Opportunity has NO value stored -&gt; this Contact Id gets stored into a separate text variable</description>
        <name>Set_Primary_Contact_Id_To_Text_Variable_For_Further_Update</name>
        <label>Set Primary Contact Id To Text Variable For Further Update</label>
        <locationX>642</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>varRecordPrimaryContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Opportunity_Contact_Roles_Collection.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_The_Opportunity_Contact_Roles_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ContactId of the Opportunity Contact Role that was either created as a Primary OR was set as a Primary from existing records</description>
        <name>Set_The_New_Primary_Opportunity_Contact_Role_On_The_Related_Opportunity</name>
        <label>Set The New Primary Opportunity Contact Role On The Related Opportunity</label>
        <locationX>394</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>varRecordOpportunityUpdated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordOpportunityUpdated.Primary_Contact_From_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordPrimaryContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the current Primary Contact Role equals the stored value on the Opportunity</description>
        <name>Current_Loop_Item_Does_Not_Equal_Opportunity_Custom_Field</name>
        <label>Current Loop Item Does Not Equal Opportunity Custom Field</label>
        <locationX>888</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_The_Opportunity_Contact_Roles_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Custom_Field_Has_Different_Value_Than_Current_Loop_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Primary_Contact_From_Roles__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_The_Opportunity_Contact_Roles_Collection.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Contact_Id_To_Text_Variable_For_Further_Update</targetReference>
            </connector>
            <label>Opportunity Custom Field Has Different Value Than Current Loop Item</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the current loop item has &quot;IsPrimary&quot; checkbox = TRUE</description>
        <name>Is_Current_Opportunity_Contact_Role_Primary</name>
        <label>Is Current Opportunity Contact Role Primary?</label>
        <locationX>891</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_The_Opportunity_Contact_Roles_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Opportunity_Contact_Role_IsPrimary_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_The_Opportunity_Contact_Roles_Collection.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Loop_Item_Does_Not_Equal_Opportunity_Custom_Field</targetReference>
            </connector>
            <label>Current Opportunity Contact Role IsPrimary = TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OppContactRole - AfterSave - Update Opportunity Custom Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppContactRole - AfterSave - Update Opportunity Custom Field</label>
    <loops>
        <description>Current flow goes through each Opportunity Contact Role under the Opportunity and compares the ContactId value of the Primary Contact Role with the custom field on the Opportunity that tracks the Primary Contact Role</description>
        <name>Loop_Through_The_Opportunity_Contact_Roles_Collection</name>
        <label>Loop Through The Opportunity Contact Roles Collection</label>
        <locationX>642</locationX>
        <locationY>533</locationY>
        <collectionReference>varCollectionOpportunityContactRoleSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Opportunity_Contact_Role_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_The_New_Primary_Opportunity_Contact_Role_On_The_Related_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>When each new Opportunity Contact Role record is created or/and the existing Opportunity Contact Role record is updated, current Flow queries all the Opportunity Contact Roles under the Opportunity</description>
        <name>Get_All_Opportunity_Contact_Roles</name>
        <label>Get All Opportunity Contact Roles</label>
        <locationX>641</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_The_Opportunity_Contact_Roles_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>varCollectionOpportunityContactRoleSelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Opportunity_Record</name>
        <label>Update Related Opportunity Record</label>
        <locationX>394</locationX>
        <locationY>898</locationY>
        <inputReference>varRecordOpportunityUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>515</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_All_Opportunity_Contact_Roles</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollectionOpportunityContactRoleSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varRecordOpportunityUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRecordPrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
