force-app/main/caseteamflow/flows/Case_Screen_Flow_Case_Team_Member_Alternative_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Case_Team_Member_Id_To_Text_Collection</name>
        <label>Add Case Team Member Id To Text Collection</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCollectionTextUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Case_Team_Members.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Case_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Team_Member_To_Be_Deleted_To_Text_Collection</name>
        <label>Add Case Team Member To Be Deleted To Text Collection</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varCollectionTextMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Collection_Of_Case_Team_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Filtered_Collection_Of_Case_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Extra_New_Case_Team_Member_Values_For_Creation</name>
        <label>Set Extra New Case Team Member Values For Creation</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Team_Member_User_Extra.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Team_Member_Role_Extra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_New_Case_Team_Member_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_New_Case_Team_Member_Values_For_Creation</name>
        <label>Set First New Case Team Member Values For Creation</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Team_Member_User_First.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Team_Member_Role_First</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Case_Team_Member_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wipe_Text_And_Record_Variables</name>
        <label>Wipe Text And Record Variables</label>
        <locationX>644</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varCollectionTextMemberId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionTextUserId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter_Out_Case_Team_Member_Collection_For_Delete</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionCaseTeamMemberSelected</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionUserSelectedForDatatable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectionUserSelectedForDelete</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Case_Team_Members</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Filtered_Collection_Of_Case_Team_Members</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_Filter_Out_Case_Team_Member_Collection_For_Delete_0</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordCaseTeamMemberCreated</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordUserSelectedForDelete</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <choices>
        <name>choiceSetAddNewMember</name>
        <choiceText>Add A New Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSetRemoveMember</name>
        <choiceText>Remove An Existing Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Out_Case_Team_Member_Collection_For_Delete</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Case Team Member Collection For Delete</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Case_Team_Member_Collection_For_Delete_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCollectionCaseTeamMemberSelected</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Case_Team_Member_Collection_For_Delete_0.MemberId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varRecordUserSelectedForDelete.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Filtered_Collection_Of_Case_Team_Members</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Were_Any_Case_Team_Members_Returned</name>
        <label>Were Any Case Team Members Returned?</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Case_Team_Members_On_Case_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Team_Members_Exist_On_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionCaseTeamMemberSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Case_Team_Members</targetReference>
            </connector>
            <label>Case Team Members Exist On Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Action_Was_Selected</name>
        <label>What Action Was Selected?</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case_Team_Member_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSetAddNewMember</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Except_For_Case_Team_Members_From_Case</targetReference>
            </connector>
            <label>New Case Team Member Add</label>
        </rules>
        <rules>
            <name>Remove_Existing_Case_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSetRemoveMember</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Out_Case_Team_Member_Collection_For_Delete</targetReference>
            </connector>
            <label>Remove Existing Case Team Member</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceCollectionUser</name>
        <collectionReference>varCollectionUserSelectedForIncrement</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRecordCaseTeamRole</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>20</limit>
        <object>CaseTeamRole</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRecordUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case [Screen Flow] Case Team Member Alternative Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case [Screen Flow] Case Team Member Alternative Handler</label>
    <loops>
        <name>Loop_Through_Case_Team_Members</name>
        <label>Loop Through Case Team Members</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <collectionReference>varCollectionCaseTeamMemberSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_Team_Member_Id_To_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users_From_Case_Team_Members_From_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Filtered_Collection_Of_Case_Team_Members</name>
        <label>Loop Through Filtered Collection Of Case Team Members</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <collectionReference>Filter_Out_Case_Team_Member_Collection_For_Delete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_Team_Member_To_Be_Deleted_To_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Selected_Case_Team_Member_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Case_Team_Member_Record</name>
        <label>Insert New Case Team Member Record</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Wipe_Text_And_Record_Variables</targetReference>
        </connector>
        <inputReference>varRecordCaseTeamMemberCreated</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Selected_Case_Team_Member_Records</name>
        <label>Delete Selected Case Team Member Records</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Wipe_Text_And_Record_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCollectionTextMemberId</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Case_Team_Member_Records_From_Case</name>
        <label>Get Case Team Member Records From Case</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Any_Case_Team_Members_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputReference>varCollectionCaseTeamMemberSelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
        <queriedFields>TeamRoleId</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Except_For_Case_Team_Members_From_Case</name>
        <label>Get Users Except For Case Team Members From Case</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extra_New_Case_Team_Member_Lookup_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varCollectionTextUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varCollectionUserSelectedForIncrement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_From_Case_Team_Members_From_Case</name>
        <label>Get Users From Case Team Members From Case</label>
        <locationX>358</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Members_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCollectionTextUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varCollectionUserSelectedForDatatable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Case_Team_Members_Selection_Screen</name>
        <label>Case Team Members Selection Screen</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Action_Was_Selected</targetReference>
        </connector>
        <fields>
            <name>Please_Select_Action</name>
            <choiceReferences>choiceSetAddNewMember</choiceReferences>
            <choiceReferences>choiceSetRemoveMember</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Team_Members_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Team_Members_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Team_Members_Data_Table_Text</name>
                    <fieldText>&lt;p&gt;Please select a Case Team Member to be removed from the Case record:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Case_Team_Members_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Case Team Members</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varCollectionUserSelectedForDatatable</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c234&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varRecordUserSelectedForDelete</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSetRemoveMember</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extra_New_Case_Team_Member_Lookup_Screen</name>
        <label>Extra New Case Team Member Lookup Screen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Set_Extra_New_Case_Team_Member_Values_For_Creation</targetReference>
        </connector>
        <fields>
            <name>Extra_New_Case_Team_Member_Lookup_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Extra_New_Case_Team_Member_Lookup_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extra_New_Case_Team_Member_Lookup_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Team_Member_User_Extra</name>
                    <choiceReferences>choiceCollectionUser</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Case Team Member User</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Member User</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Case_Team_Member_Role_Extra</name>
                    <choiceReferences>choiceRecordCaseTeamRole</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Case Team Member Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extra_New_Case_Team_Member_Lookup_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Add Case Team Member</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>First_Case_Team_Member_Lookup_Screen</name>
        <label>First New Case Team Member Lookup Screen</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Set_First_New_Case_Team_Member_Values_For_Creation</targetReference>
        </connector>
        <fields>
            <name>First_Case_Team_Member_Lookup_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>First_Case_Team_Member_Lookup_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>First_Case_Team_Member_Lookup_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Team_Member_User_First</name>
                    <choiceReferences>choiceRecordUser</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Case Team Member User</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Member User</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Case_Team_Member_Role_First</name>
                    <choiceReferences>choiceRecordCaseTeamRole</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Case Team Member Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>First_Case_Team_Member_Lookup_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Add Case Team Member</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Case_Team_Members_On_Case_Screen</name>
        <label>No Case Team Members On Case Screen</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>First_Case_Team_Member_Lookup_Screen</targetReference>
        </connector>
        <fields>
            <name>No_Case_Team_Members_On_Case_Text</name>
            <fieldText>&lt;p&gt;Current Case doesn&apos;t have any Members yet. Please click on the &quot;Add Case Team Member&quot; button to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Case Team Member</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Team_Member_Records_From_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Out_Case_Team_Member_Collection_For_Delete_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionCaseTeamMemberSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>varCollectionTextMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionTextUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionUserSelectedForDatatable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCollectionUserSelectedForDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCollectionUserSelectedForIncrement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varRecordCaseTeamMemberCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>varRecordUserSelectedForDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
